streamlit
sqlalchemy
psycopg2-binary
python-dotenv

cloudinary

pandas
numpy

spacy
nltk
scikit-learn

pdfplumber
python-docx
docx2txt

pdf2image
pytesseract
Pillow

PyPDF2

bcrypt

python-multipart

requests